* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(1, 1, 28);
    color: white;
    font-family:'Poppins', sans-serif;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: rgb(2, 2, 52);
    box-shadow: 0 0 2px #031cfc,
                0 0 5px #031cfc,
                0 0 7px #031cfc,
                0 0 10px #031cfc;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    letter-spacing: 0px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    
}

.logo a:hover{
    color: #fff;
     text-shadow: 0 0 5px #031cfc,
                 0 0 25px #031cfc,
                 0 0 50px #031cfc,
                 0 0 100px #031cfc;
    
     /* text-shadow: 0 0 5px #f40303,
                  0 0 25px #f40303,
                  0 0 50px #f40303,
                  0 0 100px #f40303; */
}

nav ul {
    display: flex;
    justify-content: center;
    
}

nav ul li {
    list-style: none;
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    content: "";
    /* position: absolute; */
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 20%;      
}

nav ul li a:hover {
    width: 100%;
    height: 1px;
    background-color: #04f2fa;
    
}
/* SECTION */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}


/* Profile Section */
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;       
}

.section__pic-container img {
    border-radius: 50%;
    border: 3px solid aqua;    
    height: 350px;
    width: 320px;
    box-shadow: 0 0 5px #031cfc,
                0 0 25px #031cfc,
                0 0 50px #031cfc,
                0 0 100px #031cfc;
}

.section__pic-container img:hover { 
    box-shadow: 0 0 5px #03fce3,
                0 0 25px #03fce3,
                0 0 50px #03fce3,
                0 0 100px #03fce3;
}

.section_text {
    align-self: center;
    text-align: center;
}

.section_Text p {
    font-size: 600;
}

.section__text__p1{
    text-align: center;
    color: white;
    font-size: 30px;
}

.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    text-align: center;
    font-size: 3rem;
    color: yellow;
    /* text-shadow: 0 0 1px yellow,
                0 0 2px yellow,
                0 0 3px yellow,
                0 0 4px yellow;  */
}

#element {
    color: aqua;
    text-shadow: 0 0 5px #031cfc,
                0 0 25px #031cfc,
                0 0 50px #031cfc,
                0 0 100px #031cfc;

    


}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1.1rem;
}

/* Icon */
.icon {
    cursor: pointer;
    height: 2rem;
    background-color: white; 
    margin-top: 15px;  
    box-shadow: 0 0 5px aqua,
                0 0 25px aqua,
                0 0 50px aqua,
                0 0 100px aqua;
}

#textshadow1:hover {
    box-shadow: 0 0 5px  #0A66C2,              
                0 0 25px #0A66C2,
                0 0 50px #0A66C2,
                0 0 100px #0A66C2;
    background-color:  white;
    
}
#textshadow2:hover {
    box-shadow: 0 0 5px  #080808,              
                0 0 25px #080808,
                0 0 50px #080808,
                0 0 100px #080808;  
}

/* Buttons */
.btn_container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 35px;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}


.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1 solid;
}

 .btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}
 
.btn-color-1:hover,
.btn-color-2:hover {
    background:#fcc603 ;
    color: rgb(11, 10, 10);
} 

.btn-color-1:hover {
    background: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 0 5px #f42f03,
                0 0 25px #f42f03,
                0 0 50px #f42f03,
                0 0 100px #f42f03;
  } 
  
.btn-color-2 {
    background: none;
    color: white;
}
   
.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
    color: #121515;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
    
}

/* About section */
#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
    /* margin-left: 300px; */
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem !important;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background-color: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    color: #080808;
    box-shadow: 0 0 1px #0A66C2,
                0 0 5px #0A66C2,
                0 0 10px #0A66C2,
                0 0 20px #0A66C2;
}

.text-container {
    border: 2px solid rgb(13, 13, 9);
    border-radius: 25px;
    background-color: white;
    padding: 40px;
    color: black;
}

.section-container {
    gap: 4rem ;
    height: 80%;
}

.section__pic2-container {
    height: 275px;
    width: 275px;
    margin: auto 0;
    /* display: flex; */
}

/* Footer Section */
footer {
    height: 10vh;
    margin: 0rem;
    background-color: #080808;
    padding: 20px 0 10px 0;
}

footer p {
    text-align: center;
    margin-top: 20px;
}

 /* Coding Profiles  */
.section-title {
    text-align: center;
}

.section-title p b {
    color: yellow;
}

#testimonials {
    height: 50vh !important;
}


.flex {
    display: flex;
    justify-content: space-between;
    
}

.testimonial-item {
    padding-left: 5px;
    position: relative;
    margin-top: 50px;
    
}

.testimonial-img {
    height: 65px;
    width: 65px;
    text-align: center;
    background-color: #cad1db;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 0 1px #0A66C2,
                0 0 5px #0A66C2,
                0 0 10px #0A66C2,
                0 0 20px #0A66C2;
}

#HackerRank {
    margin-left: 33px;
    box-shadow: 0 0 1px #126605,
                0 0 5px #126605,
                0 0 10px #126605,
                0 0 20px #126605;
}

a {
    color: yellow;
    text-decoration: none;
}
#CodeChef {
    margin-left: 24px;
    box-shadow: 0 0 1px #1d05fa,
                0 0 5px #1d05fa,
                0 0 10px #1d05fa,
                0 0 20px #1d05fa;
}

#leetcodes {
    margin-left: 18px;
    box-shadow: 0 0 1px #cad1db,
                0 0 5px #cad1db,
                0 0 10px #cad1db,
                0 0 20px #cad1db;
    
}

